:root {
    --color-1: #8a2be2;
    --color-2: #ffffff;
    --color-3: #554563;
    --color-4: #6b48a3;
    --color-5: #A261DD;
    --color-6: #554563;
    --color-8: #8C8E4A;
    --color-9: #B94563;
    --coolor-10: #D75074;
}